.page__header {
  max-width: 24em;
  display: block;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 999;

  text-align: center;
  background: rgba(0,36,72,0.9);

  //kobe
  // padding: .375em 0 .125em 0;
  padding: .375em 0 0em 0;

  @media only screen and (max-device-width: 767px) {
    padding-top: 0.25em;
    margin-bottom: 0;
  }

  @media screen and (min-width: 24em) {
    width: 100%;
    max-width: 100%;

    //Kobe
    // padding: .375em 0 .125em 0;
    padding: .375em 0 .125em 0;
  }

  @media screen and (min-width: $tablet) {
    padding: .25em 0;

    //Kobe
    //padding: .5em 0 0em 0;
  }

  // WIP Refactor
  // .block__output {
  //   margin: 0;
  // }
}

.nav--search {
  max-width: 26em;

  @extend %flex-row-wrap;
  justify-content: space-between;

  align-items: baseline;

  padding: 0 .5em .25em .5em;
  margin: 0 auto;

  position: relative;

  // Max width by device iPhone
  @media only screen and (max-device-width: 767px) {
    padding: .25em .5em;
  }

  @media screen and (min-width: $tablet) {
    width: 48em;
    max-width: 48em;

    align-items: baseline;

    padding: .25em .25em;
    // padding-right: .25em;
    // padding-left: .25em;
  }

  @media screen and (min-width: $desktop) {
    width: 60em;
    max-width: 60em;

    padding-left: .75em;
    padding-right: .75em;
  }
}

.translate--google {
  display: inline-block;
  z-index: 999;
}

.container--logo {
  text-align: left;
}

.logo--site {
  display: block;

  font-family: "New Times Roman";

  font-size: 1.138em;
  line-height: 1.5em;

  font-weight: 800;
  color: #dfe8eb;

  text-align: center;
  text-decoration: none;

  @media screen and (min-width: $tablet) {
    line-height: 1.375em;
    font-size: 1.383em;
  }

  &:hover {
    text-decoration: none;
  }
}

.time--xl {
  font-size: .823em;
  line-height: 1.5em;

  color: #bfd1d7;
  font-family: "New Times Roman";
}


/////////////////////////////
// Translated Activated   //
////////////////////////////
.translated-ltr {
  .page__header {
    padding-top: 2.75em;

    @media screen and (min-width: $tablet) {
      padding-top: 3em;
    }
  }
}
